.high_quality {
    color: green;
}

.average {
    color: rgb(203, 132, 0);
}

.poor {
    color: rgb(181, 16, 16);
}

.modal-backdrop {
    z-index: -1 !important;
}

.professor_link {
    text-decoration: none;
    text-decoration-color: unset;
}

.professor_link:hover {
    text-decoration: underline !important;
}

.popover {
    max-width: 100% !important;
    width: 45vw;
}
